<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wind.system.mapper.SysMenuMapper">

    <resultMap type="SysMenu" id="SysMenuResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="parentName" column="parent_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="sort" column="sort"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="selectMenuListByUserId" parameterType="SysMenu" resultMap="SysMenuResult">
        select distinct m.menu_id,
                        m.parent_id,
                        m.menu_name,
                        m.path,
                        m.component,
                        m.query_param,
                        m.visible,
                        m.status,
                        m.perms,
                        m.is_frame,
                        m.is_cache,
                        m.menu_type,
                        m.icon,
                        m.sort,
                        m.create_time
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_user_role sur on rm.role_id = sur.role_id
                 left join sys_role ro on sur.role_id = ro.role_id
            ${ew.getCustomSqlSegment}
    </select>

    <select id="selectMenuTreeByUserId" parameterType="Integer" resultMap="SysMenuResult">
        select distinct m.menu_id,
                        m.parent_id,
                        m.menu_name,
                        m.path,
                        m.component,
                        m.query_param,
                        m.visible,
                        m.status,
                        m.perms,
                        m.is_frame,
                        m.is_cache,
                        m.menu_type,
                        m.icon,
                        m.sort,
                        m.create_time
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_user_role sur on rm.role_id = sur.role_id
                 left join sys_role ro on sur.role_id = ro.role_id
                 left join sys_user u on sur.user_id = u.user_id
        where u.user_id = #{userId}
          and m.menu_type in ('M', 'C')
          and m.status = 1
          and ro.status = 1
        order by m.sort desc
    </select>

    <select id="selectMenuListByRoleId" resultType="Integer">
        select m.id
        from sys_menu m
                 left join sys_role_menu rm on m.id = rm.menu_id
        where rm.role_id = #{roleId}
        order by m.sort desc
    </select>

    <select id="selectMenuPerms" resultType="String">
        select distinct m.mark
        from sys_menu m
                 left join sys_role_menu rm on m.id = rm.menu_id
                 left join sys_user_role sur on rm.role_id = sur.role_id
    </select>

    <select id="selectMenuPermsByUserId" parameterType="Integer" resultType="String">
        select distinct m.mark
        from sys_menu m
                 left join sys_role_menu rm on m.id = rm.menu_id
                 left join sys_user_role sur on rm.role_id = sur.role_id
                 left join sys_role res on res.id = sur.role_id
        where sur.user_id = #{userId}
    </select>

    <select id="selectMenuPermsByRoleId" parameterType="Integer" resultType="String">
        select distinct m.mark
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
        where m.status = '0'
          and rm.role_id = #{roleId}
    </select>

</mapper>
